# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Flask
instance/
.webassets-cache

# Jupyter
.ipynb_checkpoints

# Environments
.env
.env.dev
.venv
venv/

# Terraform
terraform/environments/dev/.terraform/
terraform/environments/qa/.terraform/
terraform/environments/dev/.terraform.lock.hcl
terraform/environments/qa/.terraform.lock.hcl

# Editor configs
.vscode/
.idea/

# Misc
.mypy_cache/
.dmypy.json
.pyre/
cython_debug/
.pypirc
.ruff_cache/
